@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Nunito+Sans:wght@200&family=Outfit&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    display: flex;
    background-color: hsl(217, 54%, 11%) ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:hsl(215, 51%, 70%);

}
.container{
    position: relative;
    display:flex;
    justify-content: center;
    justify-items: center;
    height:500px;
    width:300px;
}
 .container .card{
    position: relative;
    display:flex;
    margin: 10px;
    width: 300px;
    height: 500px;
    background-color: hsl(216, 50%, 16%) ;
    border-radius: 5px;
}


.container .card .mg{
    position: relative;
    width:80%;
    height:60%;
    display:flex;
 }
 .container .card .mg img{
 position: relative;
 display:flex;
margin:10px;
border-radius:5px;
 
 }

 .container .card .content{
    position:absolute;
    display:block;
    margin-top:290px;
    margin-left: 10px;
   



 }
 .container .card .content h1{
    color:  hsl(0, 0%, 100%);
    padding-left:1px;
    font-size: large;
 
    
   
 }
 .container .card .content p{
    margin-left:0px;
    margin-bottom: 20px;
 }
 .container .card .content .list{
  margin-right:20px;
 }

 .container .card .content .list ul{
    display:flex;
    justify-content:space-between;

    list-style: none;
    padding-bottom: 10px;
    border-bottom: solid;
 
}
.container .card .content .list ul li{
  padding-left: 10px;
}
.container .card .content .list ul li i{
  padding-right: 10px;
}

.container .card .content .list span{
    color: hsl(178, 100%, 50%);
    margin-bottom: 1px;

}


  .container .card .content .second img{
    position:relative;
    display:flex;
    float:left;
    max-width: 10%;
  }
  .container .card .content .second p{
    position: absolute;
    display:inline-flex;
    margin-top: 10px;
    margin-left:10px;


  }
  .container .card .content .second p span{
    color:  hsl(0, 0%, 100%);
    padding-left:2px;


  }
 
@media screen and(max-width: 1440px) and (max-width: 375px) {
  .card{
     display: flex;
  }
 }
 
 

 
